<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<hr/>
<hr/>
<br/>

<div th:if="${#lists.isEmpty(people)}">
    <p>No persons found</p>
</div>
<div th:if="${!#lists.isEmpty(people)}" th:each="person, status : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${status.index + 1} + ')' + ${person.getName()} + ' - ' + ${person.getAge()}">users</a>
</div>

<br/>
<hr/>
<hr/>
<br/>

<form th:action="@{/people/new}" method="get">
    <input type="submit" value="Create new person">
</form>

<br/>
<hr/>
<hr/>
</body>
</html>